body {
	background-color: pink;
	margin: 0;
}

ul {
	list-style: none;
	margin-top: 0px;
}

nav {
	background-color: green;
	height: 40px;
}

li {
	display: inline;
}

img {
	max-width: 260px;
}

table, th, td {
	border: solid 1px black;
}

table {
	margin: 0 auto;
}

.center-text {
	text-align: center;
}